@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Raleway:300,600);

body {
	margin: 0;
	padding: 0;
	font-family: Raleway !important;
	background-color: #FDFFE0;
}

h1 {
	text-align: center;
	font-weight: normal;
	font-size: 4em;
	color: #940000;
}

#container {
	width: 580px;
	margin: 0 auto;
}

ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

#search-form {
	text-align: center;
}

#text-input {
	width: 400px;
	height: 20px;
	padding: 5px;
	border-radius: 3px;
	font-family: Interstate;
}

#search-button {
	margin-left: 10px;
	font-family: Interstate;
	border: none;
	background-color: #990101;
	color: white;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.2s ease-out 0s;
}

#search-button:HOVER {
	background-color: #F50909;
}

#search-box {
	position: relative;
	width: 400px;
	margin: 0 auto;
	display: inline;
}

:focus {
	outline: none;
}

#proposal-box {
	position: absolute;
	width: 412px;
	height: auto;
	border-left: 1px solid rgba(0, 0, 0, 0.11);
	border-right: 1px solid rgba(0, 0, 0, 0.11);
}

#proposal-list {
	list-style: none;
}

#proposal-list li {
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.16);
	height: 25px;
	line-height: 25px;
	background-color: #FFF;
}

#proposal-box a {
	text-decoration: none;
	color: black;
	width: 100%;
	display: block;
}

#proposal-box a:HOVER {
	color: red;
}

#wrapper {
	background-color: rgba(255, 222, 152, 0.53);
	padding: 20px 10px 35px;
	border-radius: 5px;
}

#sign {
	text-align: center;
	margin-top: 200px;
}

a.github-ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
}

#message {
	margin-top: 100px;
	margin-bottom: -100px;
	font-size: 20px;
	text-align: center;
}